<mat-sidenav-container class="sidenav-container" xmlns:fb="" xmlns:width="http://www.w3.org/1999/xhtml">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <span>
        <img style="height: 30px; width: 30px;" src="assets/turnaround.ico">
      </span>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/home">Home</a>
      <a mat-list-item href="#/main">Main</a>
      <a mat-list-item href="#/logout">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
      </span>
      <span class="italic">
        <i>Better Facebook Engagement</i>
      </span>
      <span>

      </span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>


    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Made with <3 by <a href="https://twitter.com/the1mills">@ORESoftware 2019</a>
          </p>
        </div>
      </div>
    </footer>


  </mat-sidenav-content>
</mat-sidenav-container>
